
@media screen and (orientation: landscape){
	section{
		/*position: relative;*/
		background: #EFEFEF;
		min-height: calc(92vh - 100px);
	}

	section #about_site_wrap{
		/*position: absolute;*/
		box-sizing: border-box;
		background: #E7E7E7;
		width: 70%;
		margin-left: 15%;
		min-height: calc(92vh - 100px);
		font-size: 1.6em;
		line-height: 1.4em;
		padding: 1.2em 5% 1.2em 5%;
		font-family: Trebuchet MS;
	}
}

@media screen and (orientation: portrait){
	body{
		margin: 0px;		
		width: 100vw;
		background: #200772;
	}

	section{
		/*position: relative;*/
		background: #EFEFEF;
		min-height: calc(100vh - 130px - 100px);
	}

	section #about_site_wrap{
		/*position: absolute;*/
		box-sizing: border-box;
		background: #E7E7E7;
		width: 100%;		
		min-height: calc(100vh - 130px - 100px);
		font-size: 2.6em;
		line-height: 1.3em;
		padding: 1.2em 5% 1.2em 5%;
		font-family: Trebuchet MS;
	}
}

